[submodule "website"]
	path = website
	url = https://github.com/hychat-mc/website
[submodule "mineflayer"]
	path = mineflayer
	url = https://github.com/hychat-mc/mineflayer
[submodule "discord"]
	path = discord
	url = https://github.com/hychat-mc/discord
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/hychat-mc/dashboard.git
[submodule "backend"]
	path = backend
	url = https://github.com/hychat-mc/backend.git
