# Webhook URL
WEBHOOK_URL=
DEV_WEBHOOK_URL=

# Minecraft Account Email
MINECRAFT_EMAIl=

# Minecraft Account Password
MINECRAFT_PASSWORD=

# Supabase URL
SUPABASE_URL=

# Supabase API Key
SUPABASE_KEY=