# Discord Bot Token
BOT_TOKEN=""

# Webhook URL
WEBHOOK_URL=""

# Channel ID
CHANNEL_ID=""

# Minecraft Account Email
MINECRAFT_EMAIl="username@example.com"

# Minecraft Account Password
MINECRAFT_PASSWORD="password@123"

# Minecraft Account Type
MINECRAFT_AUTH="mojang" # or "microsoft"

# MongoDB URL
MONGO_URL="mongodb://"